<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="applyMapper">
    <resultMap type="com.gn.apply.vo.Apply" id="applyMap">
        <result property="applyNo" column="apply_no"/>
        <result property="userNo" column="user_no"/>
        <result property="teamNo" column="team_no"/>
        <result property="position" column="position"/>
        <result property="applyArea" column="apply_area"/>
        <result property="applyExplanation" column="apply_explanation"/>
        <result property="status" column="status"/>
    </resultMap>
    <!-- PENDING(대기중 걸어둠) -->
	<insert id="insertApply" parameterType="Apply" useGeneratedKeys="true" keyProperty="applyNo">
    	INSERT INTO `apply` (user_no, team_no, position, apply_area, apply_explanation, status)
    	VALUES (#{userNo}, #{teamNo}, #{position}, #{applyArea}, #{applyExplanation}, 'PENDING');
	</insert>
</mapper>