<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<resultMap type="board" id="boardMap">
		<result property="boardNo" column="board_no" />
		<result property="writerNo" column="writer_no" />
		<result property="boardTitle" column="board_title" />
		<result property="boardContent" column="board_content" />
		<result property="userName" column="user_name" />
		<result property="userId" column="user_id" />
		<result property="oriName" column="ori_name" />
		<result property="attachPath" column="attach_path" />
		<result property="attachNo" column="attach_no" />
		<result property="regDate" column="reg_date" />
		<result property="modDate" column="mod_date" />
	</resultMap>
	<resultMap type="attach" id="attachMap">
		<result property="attachNo" column="attach_no" />
		<result property="oriName" column="ori_name" />
		<result property="newName" column="new_name" />
		<result property="boardNo" column="board_no" />
		<result property="attachPath" column="attach_path" />
	</resultMap>
	<resultMap type="reply" id="replyMap">
		<result property="replyNo" column="reply_no" />
		<result property="writerNo" column="writer_no" />
		<result property="boardNo" column="board_no" />
		<result property="userId" column="user_id" />
		<result property="replyContent" column="reply_content" />
		<result property="regDate" column="reg_date" />
		<result property="modDate" column="mod_date" />
	</resultMap>
		
	<select id="boardList" resultMap="boardMap">
		SELECT b.* ,u.* 
		FROM `board` b
		JOIN `user` u ON b.writer_no = u.user_no
		<where>
		<if test='boardTitle != null and  boardTitle.equals("") == false'>
			(b.board_title LIKE CONCAT('%',#{boardTitle},'%') 
            OR b.board_content LIKE CONCAT('%',#{boardTitle},'%'))
		</if>
		</where>
			<if test='orderType != null and orderType.equals("-1") == false'>
			<choose>
				<when test='orderType.equals("1") == true'>
					ORDER BY b.reg_date DESC
				</when>
			<otherwise>
					ORDER BY b.reg_date ASC
			</otherwise>
			</choose>
		</if>
		LIMIT #{limitPageNo}, #{numPerPage}
	</select>
	
	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*) FROM `board`
		<where>
			<if test="boardTitle != null and boardTitle != ''">
            board_title LIKE CONCAT('%', #{boardTitle}, '%')
            </if>
		</where>
	</select>
	
	<insert id="boardWrite" parameterType="board" useGeneratedKeys="true" keyProperty="boardNo" >
		INSERT INTO `board`(writer_no ,board_title ,board_content)
		VALUES(#{writerNo} ,#{boardTitle} ,#{boardContent})		
	</insert>
	
	<insert id="attachFile" parameterType="attach">
		INSERT INTO `board_attach`(ori_name ,new_name ,board_no ,attach_path)
		VALUES(#{oriName} ,#{newName} ,#{boardNo} ,#{attachPath})		
	</insert>
	
	<select id="selectDetail" parameterType="int" resultMap="boardMap">
    		SELECT b.board_no, b.writer_no, b.board_title, b.board_content, 
            b.reg_date, b.mod_date, 
            u.user_name, u.user_id, 
            o.attach_path, o.attach_no, o.ori_name
    		FROM `board` b
    		JOIN `user` u ON b.writer_no = u.user_no
    		LEFT JOIN `board_attach` o ON b.board_no = o.board_no  
    		WHERE b.board_no = #{boardNo}
	</select>
	
	<select id="selectAttach" parameterType="_int" resultMap="attachMap">
		SELECT *
		FROM `board_attach`
		WHERE attach_no = #{attach.attachNo}
	</select>
	
	<insert id="insertReply" parameterType="reply">
		INSERT INTO `reply`(writer_no ,board_no ,reply_content)
		VALUES(#{writerNo} ,#{boardNo} ,#{replyContent})
	</insert>
	
	<select id="selectReply" parameterType="_int" resultMap="replyMap">
		SELECT r.* ,u.*
		FROM `reply` r
		JOIN `user` u ON r.writer_no = u.user_no
		JOIN `board` b ON r.board_no = b.board_no
		WHERE r.board_no = #{boardNo}
	</select>
	
	<delete id="deleteBoard" parameterType="_int">
		DELETE FROM `board`
		WHERE board_no = #{boardNo};
	</delete>
	
	<delete id="deleteReply" parameterType="_int">
		DELETE FROM `reply`
		WHERE board_no = #{boardNo};
	</delete>
	
	<delete id="deleteAttach" parameterType="_int">
		DELETE FROM `board_attach`
		WHERE board_no = #{boardNo};
	</delete>
	
	<delete id="deleteReplyOne" parameterType="_int">
		DELETE FROM `reply`
		WHERE reply_no = #{replyNo};	
	</delete>
	<update id="updateBoard" parameterType="board">
		UPDATE `board`
		SET board_title = #{boardTitle}
		,board_content = #{boardContent}
		WHERE board_no = #{boardNo}
	</update>
	
	<update id="updateAttach" parameterType="attach">
		UPDATE `board_attach`
		SET ori_name = #{oriName}
		,new_name = #{newName}
		,attach_path = #{attachPath}
		WHERE attach_no = #{attachNo}
	</update>
	
	<delete id="deleteOriAttach" parameterType="board">
		DELETE FROM `board_attach`
		WHERE board_no = #{boardNo};
	</delete>
	
	<insert id="insertOriAttach" parameterType="attach">
		INSERT INTO `board_attach`(ori_name ,new_name ,board_no ,attach_path)
		VALUES(#{oriName} ,#{newName} ,#{boardNo} ,#{attachPath})
	
	</insert>
	<delete id="deleteAttachNo" parameterType="_int">
		DELETE FROM `board_attach`
		WHERE attach_no = #{attachNo};
	</delete>
	
	<select id="selectOrderType" resultMap="boardMap">
		SELECT b.* ,u.* 
		FROM `board` b
		JOIN `user` u ON b.writer_no = u.user_no
		<if test='orderType != null and orderType.equals("-1") == false'>
			<choose>
				<when test='orderType.equals("1") == true'>
					ORDER BY b.reg_date DESC
				</when>
			<otherwise>
					ORDER BY b.reg_date ASC
			</otherwise>
			</choose>
		</if>
	</select>
	
	
	
	
	

</mapper>