<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<resultMap type="board" id="boardMap">
		<result property="boardNo" column="board_no" />
		<result property="writerNo" column="writer_no" />
		<result property="boardTitle" column="board_title" />
		<result property="boardContent" column="board_content" />
		<result property="userName" column="user_name" />
		<result property="userId" column="user_id" />
		<result property="attachPath" column="attach_path" />
		<result property="attachNo" column="attach_no" />
		<result property="regDate" column="reg_date" />
		<result property="modDate" column="mod_date" />
	</resultMap>
	<resultMap type="attach" id="attachMap">
		<result property="attachNo" column="attach_no" />
		<result property="oriName" column="ori_name" />
		<result property="newName" column="new_name" />
		<result property="boardNo" column="board_no" />
		<result property="attachPath" column="attach_path" />
	</resultMap>
	<resultMap type="reply" id="replyMap">
		<result property="writerNo" column="writer_no" />
		<result property="boardNo" column="board_no" />
		<result property="replyContent" column="reply_content" />
	</resultMap>
		
	<select id="boardList" resultMap="boardMap">
		SELECT b.* ,u.*
		FROM `board` b
		JOIN `user` u
		ON b.writer_no = u.user_no
		<where>
		<if test='boardTitle != null and  boardTitle.equals("") == false'>
			b.board_title LIKE CONCAT('%',#{boardTitle},'%')
		</if>
		</where>
		ORDER BY b.board_no DESC
		LIMIT #{limitPageNo}, #{numPerPage}
	</select>
	
	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*) FROM `board`
		<where>
			<if test="boardTitle != null and boardTitle != ''">
            board_title LIKE CONCAT('%', #{boardTitle}, '%')
            </if>
		</where>
	</select>
	
	<insert id="boardWrite" parameterType="board" useGeneratedKeys="true" keyProperty="boardNo" >
		INSERT INTO `board`(writer_no ,board_title ,board_content)
		VALUES(#{writerNo} ,#{boardTitle} ,#{boardContent})		
	</insert>
	
	<insert id="attachFile" parameterType="attach">
		INSERT INTO `board_attach`(ori_name ,new_name ,board_no ,attach_path)
		VALUES(#{oriName} ,#{newName} ,#{boardNo} ,#{attachPath})		
	</insert>
	
	<select id="selectDetail" parameterType="_int" resultMap="boardMap">
		SELECT b.board_no, b.writer_no, b.board_title, b.board_content, 
        b.reg_date, b.mod_date, 
        u.user_name, u.user_id, 
        o.attach_path, o.attach_no
		FROM `board` b
		JOIN `user` u ON b.writer_no = u.user_no
		LEFT JOIN `board_attach` o ON b.board_no = o.board_no
		WHERE b.board_no = #{boardNo}
	</select>
	
	<select id="selectAttach" parameterType="_int" resultMap="attachMap">
		SELECT *
		FROM `board_attach`
		WHERE attach_no = #{attach.attachNo}
	</select>
	
	<insert id="insertReply" parameterType="reply">
		INSERT INTO `reply`(writer_no ,board_no ,reply_content)
		VALUES(#{writerNo} ,#{boardNo} ,#{replyContent})
	</insert>
	

</mapper>