<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dayoffMapper">
	<resultMap type="dayoff" id="dayoffMap">
		<result property="dayoffNo" column="dayoff_no" />
		<result property="isSun" column="is_sun" />
		<result property="isMon" column="is_mon" />
		<result property="isTue" column="is_tue" />
		<result property="isWed" column="is_wed" />
		<result property="isThu" column="is_thu" />
		<result property="isFri" column="is_fri" />
		<result property="isSat" column="is_sat" />
		<result property="regDate" column="reg_date" />
		<result property="modDate" column="mod_date" />
	</resultMap>
	<insert id="insertDayoffOne" parameterType="field">
		INSERT INTO `dayoff` (`is_sun` ,`is_mon` ,`is_tue` ,`is_wed` ,`is_thu` ,`is_fri` ,`is_sat`)
		VALUES (false ,false ,false ,false ,false ,false ,false)
	</insert>
	<select id="selectDayoffOne" resultMap="dayoffMap">
		SELECT * FROM `dayoff` ORDER BY `reg_date` DESC LIMIT 1;
	</select>
</mapper>