<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fieldMapper">
	<resultMap type="com.gn.field.vo.Field" id="fieldMap">
		<result property="fieldNo" column="field_no" />
		<result property="userNo" column="user_no" />
		<result property="fieldName" column="field_name" />
		<result property="fieldAddr" column="field_addr" />
		<result property="fieldSize" column="field_size" />
		<result property="fieldLimit" column="field_limit" />
		<result property="fieldType" column="field_type" />
		<result property="isIndoor" column="is_indoor" />
		<result property="isPark" column="is_park" />
		<result property="isShower" column="is_shower" />
		<result property="rentPrice" column="rent_price" />
		<result property="message" column="message" />
		<result property="regDate" column="reg_date" />
		<result property="modDate" column="mod_date" />
	</resultMap>
	<insert id="insertFieldOne" parameterType="field">
		INSERT INTO `field` (`field_name` ,`field_addr` ,`field_size` ,`field_limit` ,`rent_price`)
		VALUES (#{fieldName} ,#{fieldAddr} ,#{fieldSize} ,${fieldLimit} ,${rentPrice})
	</insert>
</mapper>