<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<resultMap type="user" id="userMap">
		<result property="userNo" column="user_no"/>
		<result property="userId" column="user_id"/>
		<result property="userPw" column="user_pw"/>
		<result property="userName" column="user_name"/>
		<result property="userGender" column="user_gender"/>
		<result property="userPhone" column="user_phone"/>
		<result property="userEmail" column="user_email"/>
		<result property="userType" column="user_type"/>
		<result property="isManager" column="is_manager"/>
		<result property="regDate" column="reg_date"/>
		<result property="modDate" column="mod_date"/>
	</resultMap>
	<select id="userLogin" parameterType="user" resultMap="userMap">
		SELECT *
		FROM `user`
		WHERE `user_id` = #{userId} AND `user_pw` = #{userPw}
	</select>
	<insert id="createUser" parameterType="user" useGeneratedKeys="true" keyProperty="userNo">
		INSERT INTO `user` (`user_id`, `user_pw`, `user_name`, `user_gender`, `user_phone`, `user_email`,`user_type`)
        VALUES (#{userId}, #{userPw}, #{userName}, #{userGender}, #{userPhone}, #{userEmail}, #{userType})
	</insert>
	<select id="checkIdUser" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM `user`
		WHERE `user_id` = #{userId}
	</select>
</mapper>