@charset "UTF-8";
/* 전체 페이지 스타일 */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}


.search-form, .btn {
    width: 200px; 
    height: 40px; 
    box-sizing: border-box; 
}




.table-responsive {
    margin-top: 20px;
}

.table {
	table-layout: auto;
    border-radius: 10px;
    overflow: hidden;
}

.table thead {
    background-color: #343a40;
    color: white;
}


.table tbody tr {
    cursor: pointer;
    transition: background 0.3s;
}

.table tbody tr:hover {
    background: #e9ecef;
}


.custom-center {
    width: 1024px;
	margin: 0 auto;
	text-align: center;
}

.minitd{
 	display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

